.App{
  background-color: #faf9f6;
}

.mainContentContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  margin :0 .5rem;
}

.readme {
  width: 99.8%;
  margin-top: .2rem;
  padding: 0rem 2rem 2rem 2rem;
  background: white;
}

.getStarted{
  width: 99.8%;
  margin-top: .2rem;
  padding: 0rem 2rem 2rem 2rem;
  background: white;
}

